#itemArray {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#itemArray td, #itemArray th {
  border: 1px solid #ddd;
  padding: 8px;
}

#itemArray th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ecf4f3;
  color: black;
}

.all_schedules {
  padding: 10px;
}

.img_icon {
  width: 23px;
  height: 23px;
  margin-left: 8px;
  position: relative;
  top: -408px;
}
