#itemArray {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#itemArray td, #itemArray th {
  border: 1px solid #ddd;
  padding: 8px;
}

.beforeButton {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgba( 93,93,93,0.3);
  color: black;
}

.afterButton {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background: linear-gradient(45deg, rgba( 93,93,93,0.3) 10%, rgba( 22, 230, 137, 0.3 ) 90%);
  /*background-color: rgba( 22, 230, 137, 0.2 );*/
  color: black;
}

.all_schedules {
  padding: 10px;
}

.img_icon {
  width: 23px;
  height: 23px;
  margin-left: 8px;
  position: relative;
  top: -408px;
}
