#itemArray {
  text-align: center;
  font-size: 0.7rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-radius: 16px;
  border: 6px solid grey;
  width: 100%;
}

#itemArray td, #itemArray th {
  border: 1px solid #ddd;
  padding: 7px;
  width: 100px;
  height: 40px
}

#crn_toast {
  z-index: 1;
  position: fixed;
  top: 350px;
  left: 150px
}

#order_CRNS {
  float: right;
  margin: 9px 8px
}

.saveName {
  width: 23px;
  height: 23px;
  margin: 7px 5px;
  float: left;
}

.small_cols {
  height: 40px
}

.large_cols {
  height: 60px
}

.input_text {
  border: none;
  background-color: grey;
  color: white;
}

.input_text:hover {
  font-size: 1.4rem;
}

.input_text:focus {
  outline-width: 0;
}

.input_CRNS {
  background-color: grey;
  border-color: black;
  border-width: thin;
  border-radius: 8px 8px 8px 8px;
  float: right;
  color: black;
  font-size: 0.75rem;
  margin: 8px;
  padding: 2px;
  text-align: center;
  width:45px;
}

.tableName {
  background-color: grey;
  border-radius: 16px 16px 0px 0px;
  height: 60px;
  font-size: 1.5rem;;
  padding: 16px 0px 16px 9px;
  width: 100%;
}

/*
.input_text input, .input_text span {
    white-space: pre;
}

.beforeButton {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ffffff;
  color: black;
}

.afterButton {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background: linear-gradient(45deg, rgba( 93,93,93,0.3) 10%, rgba( 22, 230, 137, 0.3 ) 90%);
  background-color: #ffffff;;
  color: black;
}
*/
.all_schedules {
  padding: 10px;
}

.img_icon {
  width: 23px;
  height: 23px;
  margin: 7px 5px;
  float: right;
}

.align_button {
  float: right;
  margin: 8px
}
/*
.icons_occupy {
  width: 23px;
  height: 23px;
  margin: 8px;
  float: right;
}

.icons_allow {
  width: 23px;
  height: 23px;
  margin-left: 8px;
  position: relative;
  top: -445px;
  left: 450px;
}
*/
/* fancy scrollbar*/
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
