.App {
    text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.theSchedule{
  padding-top: 70px;
}

.page-header{
    text-align: center;
    margin-left: 20px;
    font-family: "Open Sans", sans-serif;
    color: #234660;
}

.schedule {
    position: absolute;
    margin-left: 20px;
    border: 4px solid #234660;
    border-radius: 5px;
    width: 600px;
    height: 510px;
    overflow-y: scroll;
}

.catalog {
    position: absolute;
    border: 4px solid #234660;
    right: 500px;
    border-radius: 5px;
    width: 730px;
    height: 510px;
    left: 660px;
}
.unsaved-class {
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.saved-class {
    background: #fff;
    color: #65AFFF;
}

.new-schedule-button {
    width: 593px;
}
